<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel='shortcut icon' type='image/x-icon' href='recipes/img/icon.png'/>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">
    <div class="logo">
        <img src="{% static 'recipes/img/logo1.png' %}" alt="Логотип">
    </div>
    <div class="menu_list">
        <div class="list">
            <a href="{% url 'index' %}">Главная</a>
        </div>
        <div class="list">
            <a href="{% url 'recipe_catalog' %}">Рецепты</a>
        </div>
    </div>
    <div class="menu_enter">
        {% if user.is_authenticated %}
            <div class="list">
                <span>Привет, {{ user.username }}!</span>  <!-- Показываем имя текущего пользователя -->
            </div>
            <div class="list">
                <a href="{% url 'logout' %}" class="exit-button">Выйти</a>  <!-- Кнопка для выхода -->
            </div>
        {% else %}
            <div class="enter_img1">
                <img class="enter_img" src="{% static 'recipes/img/user.svg' %}" alt="User">
            </div>
            <div class="list">
                <a href="{% url 'login' %}">Войти</a>
            </div>
        {% endif %}
    </div>
</div>

    <div class="first_screen">
    <div class="background_image">
        <img class="enter_img" src="{% static 'recipes/img/background.png' %}" alt="Background">
    </div>
    <div class="background_overlay"></div> <!-- Полупрозрачный слой -->
    <div class="text_overlay">
        <div class="form-container">
            <div class="title">Войти</div>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
    <img class="icon" src="{% static 'users/img/login.png' %}" alt="User">
    <input type="text" name="username" placeholder="Логин" value="{{ form.username.value|default:'' }}" required>
    <!-- Отображение ошибки для поля логина -->
    {% if form.username.errors %}
        <div class="error-message">
            {% for error in form.username.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="form-group">
    <img class="icon" src="{% static 'users/img/key.png' %}" alt="Key">
    <input type="password" id="password-field" name="password" placeholder="Пароль" required>
    <img id="toggle-password-icon" class="toggle-password" onclick="togglePassword()" src="{% static 'users/img/eye.png' %}" alt="Show/Hide Password">
    <!-- Отображение ошибки для поля пароля -->
    {% if form.password.errors %}
        <div class="error-message">
            {% for error in form.password.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>

<!-- Общие ошибки -->
{% if messages %}
        <div class="error-message">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

<button type="submit" class="form-button">Войти</button>
            </form>
            <div class="links">
                <div class="info-text">Еще нет аккаунта?</div>
                <a href="{% url 'register' %}" class="info-link">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>

<script>
        function togglePassword() {
            const passwordField = document.getElementById('password-field');
            const toggleIcon = document.getElementById('toggle-password-icon');
            const isPassword = passwordField.getAttribute('type') === 'password';
            passwordField.setAttribute('type', isPassword ? 'text' : 'password');
            toggleIcon.setAttribute('src', isPassword
                ? "{% static 'users/img/eye_close.png' %}"
                : "{% static 'users/img/eye.png' %}");
        }
    </script>

</body>
</html>




