<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel='shortcut icon' type='image/x-icon' href='recipes/img/icon.png'/>
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="menu">
        <div class="logo">
            <img src="{% static 'recipes/img/logo1.png' %}" alt="Логотип">
        </div>
        <div class="menu_list">
            <div class="list">
                <a href="{% url 'index' %}">Главная</a>
            </div>
            <div class="list">
                <a href="{% url 'recipe_catalog' %}">Рецепты</a>
            </div>
        </div>
        <div class="menu_enter">
            {% if user.is_authenticated %}
                <div class="list">
                    <span>Привет, {{ user.username }}!</span>
                </div>
                <div class="list">
                    <a href="{% url 'logout' %}" class="exit-button">Выйти</a>
                </div>
            {% else %}
                <div class="enter_img1">
                    <img class="enter_img" src="{% static 'recipes/img/user.svg' %}" alt="User">
                </div>
                <div class="list">
                    <a href="{% url 'login' %}">Войти</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="first_screen">
        <div class="background_image">
            <img class="enter_img" src="{% static 'recipes/img/background.png' %}" alt="Background">
        </div>
        <div class="background_overlay"></div>
        <div class="text_overlay">
            <div class="form-container">
                <div class="title">Регистрация</div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <img class="icon" src="{% static 'users/img/login.png' %}" alt="User">
                        <input type="text" name="username" placeholder="Логин" value="{{ form.username.value|default:'' }}" required>
                    </div>
                        {% if form.username.errors %}
                            <div class="error-message">
                                {% for error in form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                    <div class="form-group">
                        <img class="icon" src="{% static 'users/img/e-mail.svg' %}" alt="Email">
                        <input type="email" name="email" placeholder="E-mail" value="{{ form.email.value|default:'' }}" required>
                        </div>
                        {% if form.email.errors %}
                            <div class="error-message">
                                {% for error in form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                    <div class="form-group">
                        <img class="icon" src="{% static 'users/img/key.png' %}" alt="Key">
                        <input type="password" id="password1-field" name="password1" placeholder="Пароль" required>
                        <img id="toggle-password1-icon" class="toggle-password" onclick="togglePassword('password1-field', 'toggle-password1-icon')" src="{% static 'users/img/eye.png' %}" alt="Show/Hide Password">
                    </div>
                        {% if form.password1.errors %}
                            <div class="error-message">
                                {% for error in form.password1.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                    <div class="form-group">
                        <img class="icon" src="{% static 'users/img/key.png' %}" alt="Key">
                        <input type="password" id="password2-field" name="password2" placeholder="Подтвердите пароль" required>
                        <img id="toggle-password2-icon" class="toggle-password" onclick="togglePassword('password2-field', 'toggle-password2-icon')" src="{% static 'users/img/eye.png' %}" alt="Show/Hide Password">
                    </div>
                        {% if form.password2.errors %}
                            <div class="error-message">
                                {% for error in form.password2.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}


                    {% if messages %}
                        <div class="error-message">
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <p>{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <button type="submit" class="form-button">Зарегистрироваться</button>
                </form>
                <div class="links">
                    <div class="info-text">Уже есть аккаунт?</div>
                    <a href="{% url 'login' %}" class="info-link">Войти</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function togglePassword(fieldId, iconId) {
            const passwordField = document.getElementById(fieldId);
            const toggleIcon = document.getElementById(iconId);
            const isPassword = passwordField.getAttribute('type') === 'password';
            passwordField.setAttribute('type', isPassword ? 'text' : 'password');
            toggleIcon.setAttribute('src', isPassword
                ? "{% static 'users/img/eye_close.png' %}"
                : "{% static 'users/img/eye.png' %}");
        }
    </script>
</body>

</html>