html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat';
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
}

.menu {
    margin-right: 50px;
}

.logo {
    margin-right: 50px;
}

.menu {
    display: flex;
    width: 100%;
    background-color: #191A1C;
    height: 100px;
    padding: 0 120px;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    position: fixed; /* Закрепляем меню сверху */
    top: 0; /* Меню будет располагаться в верхней части */
    left: 0; /* Выравниваем по левому краю */
    z-index: 1000; /* Устанавливаем высокий индекс, чтобы меню было сверху */
}

.menu_list {
    display: flex;
    gap: 30px;
}

.menu_enter {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.list {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

.list a {
    color: white;
    text-decoration: none;
}

.user {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    display: flex;
    align-items: center
}

.exit {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

.exit a {
    color: white;
    text-decoration: none;
}

.exit-button {
    position: relative; /* Устанавливаем относительное позиционирование для привязки подсказки */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.exit-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.exit-icon {
    width: 24px;
    height: 24px;
    transition: filter 0.3s ease;
}

.exit-button:hover .exit-icon {
    filter: brightness(1.5);
}

.exit-button::after {
    content: "Выйти из системы"; /* Текст подсказки */
    position: absolute;
    bottom: -40px; /* Расстояние от кнопки до подсказки */
    left: 50%;
    transform: translateX(-50%);
    background-color: #191A1C; /* Цвет как у меню */
    color: #FFFFFF; /* Белый текст */
    padding: 8px 15px; /* Внутренние отступы */
    border-radius: 10px; /* Закругленные края */
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap; /* Запрещает перенос текста */
    opacity: 0; /* Невидимая подсказка по умолчанию */
    pointer-events: none; /* Отключаем взаимодействие */
    transition: opacity 0.3s ease; /* Плавное появление */
    z-index: 3000; /* Чтобы подсказка была сверху */
}

.exit-button:hover::after {
    opacity: 1; /* Появляется при наведении */
}

.button:hover {
    background-color: #7EB800;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Выше чем меню */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.modal-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#logoutModal .modal-button {
    font-family: Montserrat;
    font-weight: bold;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    background-color: #E8691B; /* Новый цвет для кнопок в модальном окне */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

#logoutModal .modal-button:hover {
    background-color: #7EB800; /* Цвет кнопки при наведении */
}

.notification {
    position: fixed;
    top: 120px; /* Располагаем по центру экрана вертикально */
    left: 50%; /* Располагаем по центру экрана горизонтально */
    transform: translate(-50%, -50%); /* Смещаем на половину ширины и высоты, чтобы центрировать */
    background-color: #7EB800; /* Зеленый цвет для успеха */
    color: white;
    padding: 20px 30px;
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 3000; /* Поверх всего контента */
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeOut 1s forwards; /* Плавное исчезновение */
    width: auto; /* Автоматическая ширина */
    max-width: 90%; /* Ограничение ширины */
    text-align: center;
}

.notification-message {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

/* Анимация исчезновения */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 20px)); /* Немного смещается вверх */
    }
}

.content {
    margin: 120px;
}

.title {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.function {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.filter_form {
    display: flex;
    gap: 10px;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #C8C8C8;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: white;
    background-image: url('{% static "recipes/img/chaverlodot_down.svg" %}');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 16px;
}

select:focus, select:not([value=""]) {
    color: #000;
}

.add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #7EB800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
}

.add_button:hover {
    background-color: #6aa200;
    border-radius: 10px;
}

a.button {
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 10px;
}

@media (max-width: 768px) {
    .filter_form {
    flex-direction: column;
    align-items: stretch;
    }

    .add_button {
    width: 100%;
    }
}

.category_select {
    color: #C8C8C8;  /* Цвет текста, чтобы он был светлым */
}

.category_select option:disabled {
    color: #C8C8C8; /* Тот же цвет для недоступной опции */
}

.reset_button {
    background-color: #FF6B6B; /* Цвет для кнопки "Показать все" */
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.reset_button:hover {
    background-color: #e55a5a;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.photo {
    width: 300px;
    height: 300px;
    background: grey;
}

.name {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
}

.name a {
    text-decoration: none;
    color: inherit; /* Наследует цвет от родительского элемента */
}

.type {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.cook_time {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dish_type {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #191A1C;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 120px; /* отступы сверху/снизу 50px, слева/справа 120px */
}

.footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: flex-end;
}

.link_menu {
    display: flex;
    flex-direction: column;
}

.link_title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.link_point {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}

.link_point a {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer_rights {
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 30px; /* отступ сверху */
}







/* Я писала */
.block {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.recipe_photo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 24px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.characteristics {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.type {
    gap: 20px;
    display: flex;
    align-items: center;
}

.cook_time {
    gap: 5px;
    display: flex;
    font-size: 18px;
    align-items: center;
}

.dish_type {
    gap: 5px;
    display: flex;
    font-size: 18px;
    align-items: center;
}

.subtitle {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.text {
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
}

    .reviews ul {
        list-style: none;
        padding: 0;
    }

    .reviews li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }

    .reviews li strong {
        color: #333;
        font-size: 16px;
    }

    .reviews li small {
        color: #888;
        font-size: 12px;
    }

    .reviews li a {
        margin-left: 10px;
        font-size: 14px;
        color: #007BFF;
        text-decoration: none;
    }

    .reviews li a:hover {
        text-decoration: underline;
    }

    .reviews .empty {
        color: #A5A5A5;
        text-align: center;
        margin: 20px 0;
    }

    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    form textarea {
    font-family: 'Montserrat';
        width: 100%;
        height: 100px;
        border: 1px solid #C8C8C8;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        color: #333;
        resize: none;
    }

    form textarea::placeholder {
        color: #A5A5A5;
    }

    form button {
        position: absolute;
        font-family: 'Montserrat';
        bottom: 20px;
        right: 0px;
        font-weight: 600;
        background: #7EB800;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    form button:hover {
        background: #6CA800;
    }





