<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Добро пожаловать на сайт рецептов!</h1>
    <p>Этот сайт поможет вам найти и сохранить ваши любимые рецепты.</p>

    <!-- Ссылка на страницу с рецептами -->
    <p>
        <a href="{% url 'recipe_catalog' %}">Перейти к рецептам</a>
    </p>

    <!-- Ссылка на страницу авторизации -->
    <p>
        <a href="{% url 'login' %}">Авторизация</a>
    </p>
</body>
</html>
