<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'recipes/img/icon.png' %}">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>

    <a href="{% url 'recipe_detail' recipe_id=form.instance.recipe.id %}">Назад к рецепту</a>
</body>
</html>
